---
layout: default
title: Services
section_id: services
services:
  -
    - title: Domain Registration
      icon: layout
      desc:
        Domain registration seems like an easy task, however have you considered which domain name service provider is not only cheapest in the long run but also the most suitable for your business as you scale? We can help you with that.
      color:
    - title: Web Setup
      icon: layout
      desc:
        Designing, building and setting up a DIY website has never been easier. Because of that, it has also never been easier to make minor mistakes that will compound in the long run. We help you avoid those pitfalls with our decades or experience building websites.
      color:
    - title: Web Update
      icon: layout
      desc:
        After some months or years, you might feel like upgrading your website. Where will you find the right images? What is the correct copywriting for search engines? What are the latest best practice in updating a secure and fast website? Go with the flow, or go the distance with us.
      color:
  -
    - title: Web Hosting
      icon: layout
      desc:
        Here is a scenario, an online service that you subscribe to (like a web hosting provider) has some unknown problems, you have waited for hours in the customer service chatroom talking to a bot or waiting for a response. We have all experienced it before, and we got you covered.
      color: yellow
    - title: Web Maintenance
      icon: layout
      desc:
        Once in a while, your website needs to be updated with the latest and greatest. So that it can function normally, load quickly and respond securely without downtimes. When you work with us, we anticipate those scenarios for you.
      color: yellow
    - title: Digital Consulting
      icon: layout
      desc:
        Got an idea for your website from an article you read online? But not sure how to implement them, or even if it is suitable for your business. Consult with us, we ensure you get the best advice.
      color: yellow
  -
    - title: Ads Management
      icon: layout
      desc:
        Build it and they will come. That doesn't happen often on the internet. Building an online presence requires a little bit more work and we are here to help. We won't overexpose until it cost you too much, neither do we underexpose until you can't justify the cost. We give you the right returns for your money.
      color: yellow

---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-map'></i>
      <h2>Our services</h2>
      <p>Web design &amp; development</p>
      <p class='shortline'></p>
    </div>
    <div class='two spacing'></div>
  </div>

  {% for row in page.services %}
    <div class="row">
      {% for service in row %}
        <div class='medium-4 large-4 columns icon-text'>
          <i class='icon-{{service.icon}} {{service.color}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
      {% endfor %}
    </div>
    {% unless forloop.last %}
      <div class="spacing"></div>
    {% endunless %}
  {% endfor %}
</div>