<div class='full' id="get-in-touch">
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>Get In touch with us</h2>
        <p>We are happy to talk to you for any of your business online needs.</p>
      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
  <div class='form'>
    <div class='row'>
      <div class='large-8 small-centered columns'>
        <form action="https://formspree.io/f/myylbjep" method="POST">
          <label>
            <input placeholder='EMAIL' type='text' type="email" name="_replyto">
          </label>
          <label>
            <textarea name="message" placeholder='MESSAGE'></textarea>
          </label>
          <!-- your other form fields go here -->
          <input class='button white expand large' type='submit'>
        </form>
      </div>
    </div>
  </div>
</div>