<div class='full bg-1' >
  <div class='orbit-caption caption-left'>
    <div class='row'>
      <div class='special-title  large-8 columns left'>
        <h2>Get results in 7 days when you launch your website with us</h2>
        <div class='spacing'></div>
        <p>We develop, maintain and promote your corporate and e-Commerce websites.</p>
        <div class='spacing'></div>
        <a class='button boxed' href='#get-in-touch'>Contact Us</a>
      </div>
    </div>
  </div>  
</div>

<!-- <ul data-orbit=''>
  {% for slide in site.data.slides %}
    <li>
      <img src="{{site.url}}{{ site.baseurl }}/images/{{slide.image}}" />
      <div class='orbit-caption caption-{{ slide.desc_location }}'>
        <div class='row'>
          <div class='large-12 columns right'>
            {{ slide.desc }}
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul> -->